body {
  font-size: 115%;
  font-family: Arial;
  background-color: darkgrey;
}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
} 

.header {
  margin-top: 5px;
  padding: 15px; 
  color: #533bee;
} 

.btn {
  float: right;
  width: 80px;
  border-radius: 15px;
  background-color: #533bee;
  color: white;
  cursor: pointer;
}

.total { 
  margin-top: 15px;
  font-size: 110%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
