body {
  font-size: 110%;
  font-family: Arial;
  background-color: darkgrey;
}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  background-color: white;
} 

.header {
  margin-top: 50px;
  padding: 15px; 
  color: white; 
  background-color: #6c5be9;
} 

.total { 
  margin-top: 15px;
  font-size: 110%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#add-btn {
  background-color: #32bb32;
  color: white;
} 

#sub-btn {
  background-color: red;
  color: white;
}